[Desktop Entry]
Comment=
Exec=url="%u"; url=$(echo $url | cut -c5-); vlc --one-instance --vout none --qt-start-minimized $url
Icon=vlc-icon
MimeType=x-scheme-handler/vlc-http;x-scheme-handler/vlc-https;
Name=vlc-https:// Launcher
NoDisplay=true
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
